## 100 Year Summary of the US Stock and Bond Market
### By Hitaansh Gaur

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [29]:
# This is done using CRSP data from WRDS
stock_csv_path = "./notes/stock_data.csv"
bond_csv_path = "./notes/bond_data.csv"

stock_df = pd.read_csv(stock_csv_path)
bond_df = pd.read_csv(bond_csv_path)

#Want to make sure the dates are correct, so I adjust the dates on these before merging.
stock_df["caldt"] = pd.to_datetime(stock_df["caldt"])
bond_df["caldt"] = pd.to_datetime(stock_df["caldt"])

stock_df["caldt"] = stock_df["caldt"] + pd.tseries.offsets.MonthEnd(0)
bond_df["caldt"] = bond_df["caldt"] + pd.tseries.offsets.MonthEnd(0)

total_df = pd.merge(left=stock_df, right=bond_df, on='caldt', how='outer')
display(total_df[178:182])
total_df.info()

,caldt,vwretd,vwretx,ewretd,ewretx,totval,totcnt,usdval,usdcnt,spindx,...,b2ret,b2ind,b1ret,b1ind,t90ret,t90ind,t30ret,t30ind,cpiret,cpiind
178,1940-10-31,0.041468,0.040180,0.061607,0.059823,15484615.7,90,14886481.6,90.0,11.08,...,NaN,39.54598,NaN,39.84357,0.000017,43.27140,-0.000140,47.45490,0.000000,32.9
179,1940-11-30,-0.029431,-0.042997,-0.044140,-0.052155,14818817.3,90,15484615.7,90.0,10.61,...,NaN,39.54598,NaN,39.84357,0.000017,43.27214,0.000017,47.45572,0.000000,32.9
180,1940-12-31,0.002927,-0.002490,-0.013939,-0.020375,14791912.6,90,14818817.3,90.0,10.58,...,NaN,39.54598,NaN,39.84357,0.000009,43.27252,-0.000147,47.44871,0.007143,33.2
181,1941-01-31,-0.045555,-0.046847,-0.019415,-0.022340,14098962.5,90,14791912.6,90.0,10.07,...,-0.006832,39.27580,-0.006832,39.57136,-0.000069,43.26956,-0.000069,47.44545,0.000000,33.2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1165 entries, 0 to 1164
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   caldt   1165 non-null   datetime64[ns]
 1   vwretd  1164 non-null   float64
 2   vwretx  1164 non-null   float64
 3   ewretd  1164 non-null   float64
 4   ewretx  1164 non-null   float64
 5   totval  1165 non-null   float64
 6   totcnt  1165 non-null   int64
 7   usdval  1164 non-null   float64
 8   usdcnt  1164 non-null   float64
 9   spindx  1165 non-null   float64
 10  sprtrn  1164 non-null   float64
 11  b30ret  974 non-null    float64
 12  b30ind  1165 non-null   float64
 13  b20ret  972 non-null    float64
 14  b20ind  1165 non-null   float64
 15  b10ret  980 non-null    float64
 16  b10ind  1165 non-null   float64
 17  b7ret   981 non-null    float64
 18  b7ind   1165 non-null   float64
 19  b5ret   981 non-null    float64
 20  b5ind   1165 non-null   float64
 21  b2ret   984 non-null    float64
 22  b2ind   1165 non-null   float64
 23  b1ret   984 non-null    float64
 24  b1ind   1165 non-null   float64
 25  t90ret  1164 non-null   float64
 26  t90ind  1165 non-null   float64
 27  t30ret  1164 non-null   float64
 28  t30ind  1165 non-null   float64
 29  cpiret  1164 non-null   float64
 30  cpiind  1165 non-null   float64
dtypes: datetime64[ns](1), float64(29), int64(1)
memory usage: 282.3 KB

In [32]:
# Format and Clean Data

# What we find is that bond data is missing for the first 15 years (the first 180 months exactly). 
# We fill all these values with 1 so that the multiplication for the cumulative returns works.
total_df = total_df.fillna(1)
display(total_df[178:182])

,caldt,vwretd,vwretx,ewretd,ewretx,totval,totcnt,usdval,usdcnt,spindx,...,b2ret,b2ind,b1ret,b1ind,t90ret,t90ind,t30ret,t30ind,cpiret,cpiind
178,1940-10-31,0.041468,0.040180,0.061607,0.059823,15484615.7,90,14886481.6,90.0,11.08,...,1.000000,39.54598,1.000000,39.84357,0.000017,43.27140,-0.000140,47.45490,0.000000,32.9
179,1940-11-30,-0.029431,-0.042997,-0.044140,-0.052155,14818817.3,90,15484615.7,90.0,10.61,...,1.000000,39.54598,1.000000,39.84357,0.000017,43.27214,0.000017,47.45572,0.000000,32.9
180,1940-12-31,0.002927,-0.002490,-0.013939,-0.020375,14791912.6,90,14818817.3,90.0,10.58,...,1.000000,39.54598,1.000000,39.84357,0.000009,43.27252,-0.000147,47.44871,0.007143,33.2
181,1941-01-31,-0.045555,-0.046847,-0.019415,-0.022340,14098962.5,90,14791912.6,90.0,10.07,...,-0.006832,39.27580,-0.006832,39.57136,-0.000069,43.26956,-0.000069,47.44545,0.000000,33.2

In [ ]:
# Now we want to plot cummulative returns for each type of security. To do this we find